$default-font-family: 'Open Sans',
sans-serif;
$default-font-size: 18px;
$default-h1-size: 200%;
$default-h2-size: 160%;
$default-h3-size: 140%;
$codestyle-font-family: 'Source Code Pro',
monospace;
$codestyle-font-size: 14px;
$codestyle-tag-color: #63a1c2;
$codestyle-attr-color: #ffff99;
$codestyle-link-color: #94c7b5;
$codestyel-comment-color: #373838;
html,
body,
section,
div,
h1,
h2,
h3,
p,
nav,
ul,
li {
	font: $default-font-size $default-font-family;
	margin: 0;
	padding: 0;
	line-height: 150%;
}

h1 {
	font-size: $default-h1-size;
}

h2 {
	font-size: $default-h2-size;
}

h3 {
	font-size: $default-h3-size;
}

.shadowCanvas {
	background: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
	position: absolute;
	width: 100vw;
	height: 100vh;
	z-index: 999;
	.greeting {
		position: relative;
		top: 28%;
		h1 {
			color: #fff;
			text-align: center;
			margin-bottom: 20px;
		}
		p {
			color: #fff;
			text-align: center;
			margin: 20px 0;
		}
	}
	.btn {
		cursor: pointer;
		background: #fff;
		color: #000;
		font-weight: 300;
		padding: 5px 10px;
		display: inline-block;
		border: 2px solid #000;
		transition: all 0.5s;
	}
	.btn:hover {
		background: #000;
		color: #fff;
		border: 2px solid #fff;
	}
	.left-selection {
		position: absolute;
		top: 50%;
		left: 25%;
		transform: translate(-50%, -50%);
	}
	.right-selection {
		position: absolute;
		top: 50%;
		left: 75%;
		transform: translate(-50%, -50%);
	}
}

.codeStyle {
	position: relative;
	z-index: 1;
	background: #1e1e1e;
	width: 50vw;
	float: left;
	.rowNum {
		font: $codestyle-font-size $codestyle-font-family;
		color: $codestyel-comment-color;
		line-height: 150%;
		float: left;
		text-align: center;
		width: 3.5%;
		margin-top: 10px;
	}
	.code {
		float: left;
		margin-top: 10px;
		width: 96.5%;
		.row {
			font: $codestyle-font-size $codestyle-font-family;
			line-height: 150%;
			.row1 {
				background: #000000;
				color: #fff;
			}
			.tag {
				color: $codestyle-tag-color;
			}
			.attr {
				color: $codestyle-attr-color;
			}
			.link {
				color: $codestyle-link-color;
			}
			.value {
				color: #fff;
			}
			.tab1 {
				margin-left: 40px;
			}
			.tab2 {
				margin-left: 80px;
			}
			.comment {
				color: $codestyel-comment-color;
			}
			.hyperlink {
				color: #fff;
				text-decoration: none;
			}
			.hyperlink:hover {
				cursor: pointer;
			}
		}
	}
}

.codeStyle:after {
	content: "";
	clear: both;
	display: table;
}

.webStyle {
	float: left;
	width: 50vw;
	.container {
		margin: 0 auto;
		display: flex;
		max-width: 980px;
		flex-wrap: wrap;
		justify-content: space-between;
		header {
			margin: 20px 3% 0px 3%;
			flex-basis: 100%;
			text-align: right;
			.btn {
				margin-right: 5px;
				font-size: 80%;
				padding: 5px 10px;
				border: 2px solid #000;
				box-shadow: 5px -5px #000;
				display: inline-block;
				cursor: pointer;
				transition: all 0.5s;
			}
			.btn-indictor{
				font-size: 80%;
				display: inline-block;
				margin-right: 20px;
				animation-name: indictor;
    			animation-duration: 0.7s;
    			animation-iteration-count: infinite;
			}
			.btn:hover{
				color: #fff;
				background: #000;
				border: 2px solid #fff;
			}
		}
		nav {
			border: 2px solid #000;
			box-shadow: -10px -10px 0px 0px #000;
			position: fixed;
			top: 30%;
			left: 20px;
			ul {
				display: flex;
				flex-direction: column;
				list-style-type: none;
				li {
					margin: 5px 0;
					a {
						display: block;
						padding: 7px;
						text-decoration: none;
						color: #000;
					}
					.active {
						background: #000;
						color: #fff;
					}
				}
				li:first-child {
					margin-top: 0px;
				}
				li:last-child {
					margin-bottom: 0px;
				}
			}
		}
		.introduction {
			margin: 20px 1.5% 0px 3%;
			flex-basis: 60%;
			border: 2px solid #000;
			box-shadow: -10px -10px 0px 0px #000;
			h1 {
				text-transform: uppercase;
				padding: 0px 10px;
				.fa {
					margin-left: 10px;
				}
			}
			p{
				padding: 10px;
				line-height: 160%;
			}
			.btn-cv{
				display: inline-block;
				margin: 15px 10px;
				padding: 10px;
				background: #CF000F;
				color: #fff;
				text-decoration: none;
				text-transform: uppercase;
				box-shadow: 5px -5px #96281B;
				transition: all 0.5s;
			}
			.btn-cv:hover{
				transform: translate(5px, -5px);
				box-shadow: 0px 0px #96281B;
			}
		}
		.profilePic {
			margin: 20px 3% 0px 1.5%;
			flex-basis: 30%;
			align-self: flex-end;
			img {
				width: 100%;
				height: auto;
				box-shadow: -10px -10px 0px 0px #000;
			}
		}
		.skills{
			margin: 20px 3% 0px 3%;
		}
	}
}

@keyframes indictor{
	0%{
		margin-right: 20px;
	}
	50%{
		margin-right: 30px;
	}
	100%{
		margin-right: 20px;
	}
	
}
